@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1:Noto Sans;
}

.container{
    width:100%;
    max-width: 580px;
    margin:100px auto 20px;
    background-color: white;
    position: relative;
    border-radius: 15px;;
}

body{
    width:100%;
    min-height: 100vh;
    padding:10px;
    font-family: var(--font1);
    background-image: linear-gradient(135deg,violet,blue);
}

.container h1{
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.container h1:hover{
    transform: scale(1.1);
}

.add-task{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:20px;
}

input{
    flex:1;
    border-radius: 15px;
    border:none;
    padding:8px;
    margin:25px;
    transition: transform 0.2s;
}

#btn{
    background-color: #4CAF50;
    border:none;
    color:white;
    border-radius: 15px;
    padding:8px 15px;
    transition: transform 0.2s;
    transition: filter 0.2s;
}

li{
    color:black;
    list-style-type:circle;
    line-height: 1.7;
    font-size: 18px;
    transition: transform 0.2s;
    padding-bottom: 5px;
    
}

ul li span{
    position: absolute;
    right:30px;
    font-size: 12px;
    width:20px;
    text-align: center;
    background-color: transparent;
    gap:8px;
    padding:5px;
    border-radius:50%;
}

ul li span:hover{
    cursor:pointer;
    background-color: #dfdfd6;
}

input:hover{
    transform: scale(1.1,1.1);
}

li:hover{
    transform: scale(1.1,1.1);
}

#btn:hover{
    transform: scale(1.1);
    filter:brightness(1.2);
}